@font-face {
  font-family: 'Fira Sans Bold';
  src: url(../assets/fonts/FiraSans-Bold.woff2) format('woff2'),
    url(../assets/fonts/FiraSans-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Regular';
  src: url(../assets/fonts/FiraSans-Regular.woff2) format('woff2'),
    url(../assets/fonts/FiraSans-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url(../assets/fonts/FiraSans-Light.woff2) format('woff2'),
    url(../assets/fonts/FiraSans-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --hover-links-color: #FFA500;
  --ui-color: #DBA069;
  --red-rectangle-color: #842231;
  --icon-text-links-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Fira Sans Light', Arial, Helvetica, sans-serif;
}

a:hover {
  color: var(--hover-links-color);
  background: transparent;
}

a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

figure {
  margin: 0;
}

path {
  transition: 0.3s ease-in-out;
}

circle {
  transition: 0.3s ease-in-out;
}

.icon-link:hover path {
  fill: var(--hover-links-color);
}

.icon {
  width: 56px;
  height: 56px;
}

.list-reset {
  list-style: none;
}

.h1 {
  font-family: 'Fira Sans Bold';
  font-size: 2.375rem;
  color: var(--icon-text-links-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.h2 {
  font-family: 'Fira Sans Bold';
  font-size: 3rem;
  color: #000000;
}

.h3 {
  font-family: 'Fira Sans Bold';
  font-size: 1.25rem;
  color: #000000;
}

.text {
  font-family: 'Fira Sans Light';
  font-size: 1.25rem;
  line-height: 110%;
}








.first-screen__section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/img/Секция\ header/Фон.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.header__links {
  display: flex;
  flex-direction: column;
  max-width: 789px;
  width: 100%;
}

.social-phone {
  display: flex;
  flex-direction: row-reverse;
}

.header__social {
  margin-right: 35px;
  order: 2;
}

.tel-contacts {
  display: flex;
  cursor: pointer;
  align-items: center;
  order: 1;
}

.tel__number {
  font-family: 'Fira Sans Regular';
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  color: var(--icon-text-links-color);
  margin-left: 10px;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  margin-top: 16px;
}

.submenu__link {
  font-family: 'Fira Sans Regular';
  font-size: 1rem;
  text-decoration: none;
  color: var(--icon-text-links-color);
}











.first-section__container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 115px;
}

.left-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 141px;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid var(--ui-color);
  font-family: 'Fira Sans Bold';
  font-size: 1.125rem;
  line-height: 140%;
  color: #000000;
  background-color: var(--ui-color);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.left-content__information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 40px;
  color: var(--icon-text-links-color);
}

.f-s__h3 {
  font-family: 'Fira Sans Bold';
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0;
}

.left__row-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.big-number {
  font-size: 8rem;
}

.left-content__text {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Fira Sans Light';
  font-size: 1.25rem;
}

.right-content {
  color: var(--icon-text-links-color);
}

.right-content__text {
  font-family: 'Fira Sans Light';
  font-size: 1rem;
}

.right-content__fat {
  font-family: 'Fira Sans Bold';
  font-size: 1rem;
}



















.a-p__container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.a-p__left-content {
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}

.a-p__h2 {
  margin-top: 0;
  margin-bottom: 60px;
}

.a-p__text {
  margin: 0;
}

.a-p__bottom-text {
  margin-top: 0;
  margin-bottom: 51px;
}

.a-p__h3 {
  margin-bottom: 0;
}

.a-p__menu {
  margin-top: 0;
  padding-left: 20px;
  margin-bottom: 0;
}

.a-p__company-mission-h3 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.a-p__right-content {
  display: flex;
  flex-direction: column;
  margin-top: 134px;
  margin-left: 58px;
}

.a-p__images {
  display: flex;
  flex-direction: column;
}

.a-p__image {
  position: relative;
}

.rec__34 {
  width: 442px;
  height: 418px;
  order: 1;
  z-index: 3;
}

.a-p__red-rec {
  width: 442px;
  height: 418px;
  margin-top: -384px;
  margin-left: 42px;
  order: 2;
  z-index: 2;
  background-color: var(--red-rectangle-color);
}

.points {
  width: 450px;
  height: 513px;
  margin-top: -450px;
  margin-left: 80px;
  order: 3;
  z-index: 1;
}

.a-p__purpose-h3 {
  margin-bottom: 20px;
}

.a-p__bg {
  font-family: 'Fira Sans Bold';
  position: absolute;
  font-size: 15.625rem;
  opacity: 0.05;
  margin-top: -10px;
}



















.cottages__section {
  background: rgba(132, 34, 49, 0.05);
}

.cottages__h2 {
  padding-top: 39px;
  margin-top: 0;
  margin-bottom: 28px;
}

.cottages__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-arrow {
  margin-left: -100px;
}

.cottages__arrows:hover circle {
  fill: var(--hover-links-color);
}

.cottages__arrows {
  margin-bottom: 44px;
}

.cottage__images {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}

.cottages__relative-picture {
  position: relative;
  order: 2;
  z-index: 1;
}

.cottage__image {
  position: relative;
}

.cottages__points {
  width: 535px;
  height: 378px;
  margin-top: 60px;
  order: 1;
  z-index: 0;
}

.rec__6 {
  width: 692px;
  height: 414px;
  margin-left: -490px;
}

.cottages__square {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-bottom: 60px;
}

.cottages__figure-text {
  margin: 0;
  font-family: 'Fira Sans Bold';
  font-size: 2rem;
  margin-left: 68px;
  margin-bottom: 10px;
}

.right-arrow {
  margin-left: 70px;
}




















.location__container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  margin-top: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location__content {
  margin-top: 92px;
}

.location__h2 {
  margin-top: 0;
  margin-bottom: 48px;
}

.location__images {
  display: flex;
  flex-direction: row;
}

.location__image {
  position: relative;
}

.rec__3 {
  order: 1;
  width: 581px;
  height: 400px;
  z-index: 2;
}

.location__red-rec {
  order: 2;
  width: 581px;
  height: 400px;
  margin-top: 42px;
  margin-left: -540px;
  z-index: 1;
  background-color: var(--red-rectangle-color);
}

.location__points {
  order: 3;
  width: 600px;
  height: 453px;
  margin-top: 60px;
  margin-left: -530px;
  z-index: 0;
}

.location__bg {
  font-family: 'Fira Sans Bold';
  position: absolute;
  font-size: 17.9375rem;
  opacity: 0.05;
  margin-top: -45px;
}



















.benefits__container {
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.benefits__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-top: 60px;
  margin-left: 90px;
}

.benefits__h2 {
  margin: 0;
}

.benefits__row {
  display: flex;
  flex-direction: row;
}

.benefits-icons__text {
  padding-left: 15px;
  margin: 0;
}

.benefits__icon-2 {
  margin-left: 180px;
}

.benefits__icon-4 {
  margin-left: 60px;
}

.benefits__icon-6 {
  margin-left: 140px;
}

.benefits__bg-container {
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: -1220px auto 0;
  z-index: 0;
}

.benefits__bg {
  position: relative;
  max-width: 1070px;
  width: 100%;
  height: 1282px;
  margin-left: -128px;
  background-color: #F9F4F4;
  z-index: 0;
}

.benefits__bg-symbol {
  position: relative;
  margin-top: -630px;
  margin-left: -128px;
  z-index: 1;
}



















.reasons__h2 {
  margin: 100px 0;
}

.reasons__content {
  display: flex;
  flex-direction: row;
}

.reasons__image {
  position: relative;
}

.rec__9 {
  width: 453px;
  height: 400px;
  z-index: 2;
  order: 1;
}

.reasons__red-rec {
  width: 453px;
  height: 400px;
  margin-top: -370px;
  margin-left: -42px;
  z-index: 1;
  order: 2;
  background-color: var(--red-rectangle-color);
}

.reasons__points {
  width: 512px;
  height: 397px;
  margin-top: -360px;
  margin-left: -115px;
  z-index: 0;
  order: 3;
}

.reasons__right-content {
  margin-top: 86px;
  margin-left: 41px;
}

.reasons__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.reasons__icon-2 {
  margin-left: 40px;
}

.reasons__icon-4 {
  margin-left: 90px;
}

.reasons__icon-text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.reasons__h3 {
  margin: 0;
  margin-bottom: 12px;
}

.reasons__text {
  font-family: 'Fira Sans Light';
  font-size: 1.125rem;
  margin: 0;
}

.reasons__bg {
  font-family: 'Fira Sans Bold';
  position: absolute;
  font-size: 12.5rem;
  opacity: 0.05;
  margin-top: -720px;
  margin-left: -135px;
}



















.technology__h2 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 26px;
}

.technology__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.technology__columns {
  display: flex;
  flex-direction: column;
}

.techonology__right-column {
  margin-top: 108px;
}

.technology__h3 {
  font-family: 'Fira Sans Bold';
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 1.25rem;
}

.technology__text {
  margin-bottom: 83px;
  font-family: 'Fira Sans Light';
  font-size: 1.125rem;
}

.technology__bg {
  font-family: 'Fira Sans Bold';
  position: absolute;
  font-size: 14.56rem;
  opacity: 0.05;
  margin-top: -1920px;
  margin-left: -43px;
}



















.presentation__container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  border: 8px solid #842231;
}

.presentation__name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__h2 {
  font-family: 'Fira Sans Bold';
  font-size: 2.25rem;
  margin-top: 70px;
  margin-bottom: 12px;
}

.presentation__text {
  font-family: 'Fira Sans Regular';
  font-size: 1.3125rem;
  margin-top: 0;
  margin-bottom: 36px;
}

.presentation__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 150px 50px;
}

.form-group {
  padding: 0;
  border-width: 0px;
  margin-top: 3px;
}

.form-legend {
  display: none;
}

.form-image-user {
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
}

.form-image-phone {
  position: absolute;
  margin-top: 27px;
  margin-left: 25px;
}

.form-input {
  font-size: 0.9375rem;
  border-radius: 8px;
  padding: 32px 48px 32px 58px;
  border: 0;
  background: #F2F6FA;
}

.presentation__button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #842231;
  border: 5px solid #842231;
  border-radius: 8px;
  width: 280px;
  height: 86px;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--icon-text-links-color);
  transition: 0.3s ease-in-out;
}

.presentation__button-send:hover {
  color: red;
}



















.payment__container {
  max-width: 893px;
  width: 100%;
  margin: 0 auto;
}

.payment__h2 {
  display: flex;
  justify-content: center;
  margin-top: 131px;
  margin-bottom: 68px;
  font-size: 3rem;
}

.payment__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
}

.payment__submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment__text {
  font-family: 'Fira Sans Bold';
  font-size: 1.0625rem;
  width: 184px;
  margin-top: 10px;
  padding: 0;
}

.payment__first-text {
  display: flex;
  flex-direction: column;
}

.payment__first-first-item {
  padding-left: 20px;
}

.payment__first-second-item {
  padding-left: 55px;
}

.payment__bg {
  position: absolute;
  font-family: 'Fira Sans Bold';
  width: 872px;
  height: 312px;
  font-size: 16.25rem;
  opacity: 0.05;
  margin-top: -460px;
}



















.contacts__container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
}

.contacts__information {
  margin-left: 102px;
}

.contacts__h2 {
  margin-bottom: 28px;
}

.contacts__address {
  margin-bottom: 20px;
}

.contacts__connect-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__menu {
  margin: 0;
  padding: 0;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.icon-link-mail:hover path {
  stroke: var(--hover-links-color);
}

.contacts__link {
  margin-left: 10px;
  color: #333333;
}

.contacts__link-inst {
  margin-left: 10px;
  color: #333333;
}



















.footer {
  max-width: 688px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  font-family: 'Fira Sans Light';
  font-size: 1.25rem;
}

.final-link {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 28px;
  color: #842231;
  font-family: 'Fira Sans Light';
  font-size: 1.25rem;
}



















@media (max-width: 1179.98px) {
  .h2 {
    font-size: 2.44rem;
  }

  .container {
    max-width: 960px;
  }

  .header__logo {
    width: 117px;
    height: 112px;
  }

  .header__links {
    max-width: 642px;
  }

  .header__social {
    margin-right: 29px;
  }

  .whatsapp-icon {
    width: 21px;
    height: 21px;
  }

  .phone-icon {
    width: 19px;
    height: 19px;
  }

  .tel__number {
    font-size: 1rem;
    margin-left: 8px;
  }

  .nav__menu {
    margin-top: 10px;
  }

  .submenu__link {
    font-size: 0.8rem;
  }

  .first-section__container {
    max-width: 960px;
    margin-top: 94px;
  }

  .left-content {
    margin-bottom: 50px;
  }

  .h1 {
    font-size: 1.93rem;
    margin-bottom: 16px;
  }

  .btn {
    padding: 16px 24px;
    font-size: 0.9rem;
  }

  .left-content__information {
    margin-top: 33px;
    margin-right: 100px;
  }

  .f-s__h3 {
    font-size: 1.6rem;
  }

  .big-number {
    font-size: 6.5rem;
  }

  .left-content__text {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1rem;
  }

  .right-content__text {
    font-size: 0.8rem;
  }

  .right-content__fat {
    font-weight: 700;
    font-size: 0.75rem;
  }



















  .a-p__container {
    max-width: 960px;
  }

  .a-p__left-content {
    margin-top: 84px;
  }

  .a-p__h2 {
    margin-bottom: 49px;
  }

  .a-p__h3 {
    font-size: 1rem;
  }

  .a-p__menu {
    padding-left: 16px;
  }

  .a-p__company-mission-h3 {
    margin-top: 49px;
    margin-bottom: 16px;
  }

  .a-p__bottom-text {
    margin-bottom: 41px;
  }

  .text {
    font-size: 1rem;
  }

  .a-p__right-content {
    margin-top: 109px;
    margin-left: 47px;
  }

  .rec__34 {
    width: 294px;
    height: 279px;
  }

  .a-p__red-rec {
    width: 294px;
    height: 279px;
    margin-top: -255px;
    margin-left: 30px;
  }

  .points {
    width: 300px;
    height: 342px;
    margin-top: -300px;
    margin-left: 60px;
  }

  .a-p__purpose-h3 {
    margin-bottom: 16px;
  }

  .a-p__bg {
    font-size: 13rem;
    margin-top: -4px;
  }



















  .cottages__h2 {
    padding-top: 32px;
  }

  .left-arrow {
    margin-left: -75px;
  }

  .rec__6 {
    width: 560px;
    height: 335px;
    margin-left: -396px;
  }

  .cottages__points {
    width: 433px;
    height: 306px;
    margin-top: 49px;
  }

  .cottage__images {
    margin-bottom: 30px;
  }

  .cottages__arrows {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
  }

  .cottages__square {
    margin-top: 8px;
    margin-left: 11px;
    margin-bottom: 50px;
  }

  .rec__7 {
    height: 290px;
  }

  .cottages__figure-text {
    font-size: 1.6rem;
    margin-left: 55px;
    margin-bottom: 8px;
  }

  .right-arrow {
    margin-left: 57px;
  }



















  .location__container {
    max-width: 960px;
    margin-top: 72px;
  }

  .location__content {
    margin-top: 74px;
  }

  .rec__3 {
    width: 473px;
    height: 325px;
  }

  .location__red-rec {
    width: 473px;
    height: 325px;
    margin-top: 34px;
    margin-left: -439px;
  }

  .location__points {
    width: 488px;
    height: 369px;
    margin-top: 49px;
    margin-left: -431px;
  }

  .location__bg {
    font-size: 14.6rem;
    margin-top: -37px;
  }



















  .benefits__container {
    max-width: 960px;
  }

  .benefits__content {
    margin-top: 49px;
    gap: 41px;
    margin-left: 95px;
  }

  .icon {
    width: 46px;
    height: 46px;
  }

  .benefits-icons__text {
    padding-left: 12px;
  }

  .benefits__icon-2 {
    margin-left: 155px;
  }

  .benefits__picture {
    width: 763px;
    height: 463px;
  }

  .benefits__icon-6 {
    margin-left: 114px;
  }

  .benefits__bg-container {
    max-width: 960px;
    margin-top: -1010px;
  }

  .benefits__bg {
    max-width: 910px;
    height: 1070px;
    margin-left: -104px;
  }

  .benefits__bg-symbol {
    height: 530px;
  }



















  .reasons__h2 {
    margin: 81px 0;
  }

  .rec__9 {
    width: 369px;
    height: 325px;
  }

  .reasons__red-rec {
    width: 369px;
    height: 325px;
    margin-top: -301px;
    margin-left: -34px;
  }

  .reasons__points {
    width: 417px;
    height: 323px;
    margin-top: -293px;
    margin-left: -94px;
  }

  .reasons__right-content {
    margin-top: 70px;
    margin-left: 33px;
  }

  .reasons__row {
    margin-bottom: 33px;
  }

  .reasons__icon-2 {
    margin-left: 33px;
  }

  .reasons__icon-4 {
    margin-left: 73px;
  }

  .reasons__icon-text {
    margin-left: 12px;
  }

  .reasons__h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .reasons__text {
    font-size: 0.9rem;
  }

  .reasons__bg {
    font-size: 10rem;
    margin-top: -585px;
    margin-left: -110px;
  }



















  .technology__h2 {
    margin-top: 122px;
    margin-bottom: 21px;
  }

  .left-image-1 {
    width: 153px;
    height: 164px;
  }

  .left-image-2 {
    width: 176px;
    height: 232px;
  }

  .left-image-3 {
    width: 262px;
    height: 117px;
  }

  .techonology__right-column {
    margin-top: 88px;
  }

  .right-image-1 {
    width: 187px;
    height: 193px;
  }

  .right-image-2 {
    width: 276px;
    height: 137px;
  }

  .right-image-3 {
    width: 276px;
    height: 137px;
  }

  .technology__h3 {
    font-size: 1rem;
    margin-top: 26px;
    margin-bottom: 10px;
  }

  .technology__text {
    margin-bottom: 68px;
    font-size: 0.9rem;
  }

  .technology__bg {
    font-size: 11.8rem;
    margin-top: -1562px;
    margin-left: -35px;
  }



















  .presentation__container {
    max-width: 960px;
    border: 7px solid #842231;
  }

  .presentation__h2 {
    font-size: 1.83rem;
    margin-top: 57px;
    margin-bottom: 10px;
  }

  .presentation__text {
    font-size: 1rem;
    margin-bottom: 29px;
  }

  .presentation__buttons {
    margin: 0 122px 41px;
  }

  .form-group {
    margin-top: 2px;
  }

  .form-image-user {
    width: 19px;
    height: 19px;
    margin-top: 24px;
    margin-left: 16px;
  }

  .form-image-phone {
    width: 20px;
    height: 21px;
    margin-top: 22px;
    margin-left: 20px;
  }

  .form-input {
    font-size: 0.76rem;
    padding: 26px 38px 26px 47px;
    border-radius: 7px;
  }

  .presentation__button-send {
    border: 4px solid #842231;
    width: 228px;
    height: 70px;
    font-size: 0.9rem;
    border-radius: 7px;
  }



















  .payment__container {
    max-width: 727px;
  }

  .payment__h2 {
    margin-top: 107px;
    margin-bottom: 55px;
    font-size: 2.44rem;
  }

  .payment__image-1 {
    width: 101px;
    height: 59px;
  }

  .payment__image-2 {
    width: 71px;
    height: 63px;
  }

  .payment__image-3 {
    width: 56px;
    height: 56px;
  }

  .payment__image-4 {
    width: 65px;
    height: 65px;
  }

  .payment__text {
    font-size: 0.86rem;
    width: 150px;
    margin-top: 8px;
  }

  .payment__first-first-item {
    padding-left: 16px;
  }

  .payment__first-second-item {
    padding-left: 45px;
  }

  .payment__bg {
    width: 709px;
    height: 254px;
    font-size: 13.22rem;
    margin-top: -385px;
  }



















  .contacts__container {
    max-width: 960px;
    margin-top: 89px;
  }

  .contacts__image {
    width: 470px;
    height: 348px;
  }

  .contacts__information {
    margin-left: 83px;
  }

  .contacts__h2 {
    margin-bottom: 23px;
  }

  .contacts__address {
    font-size: 0.91rem;
    margin-bottom: 16px;
  }

  .contacts__list {
    margin-bottom: 7px;
  }

  .icon-link-phone {
    width: 15px;
    height: 15px;
  }

  .icon-link-mail {
    width: 13px;
    height: 10px;
  }

  .icon-link-inst {
    width: 16px;
    height: 19px;
    margin-top: 3px;
  }

  .contacts__link {
    font-size: 0.91rem;
    margin-left: 8px;
  }

  .contacts__qr {
    width: 144px;
    height: 144px;
  }



















  .footer {
    max-width: 560px;
    margin-top: 81px;
  }

  .footer__menu {
    font-size: 1rem;
  }

  .final-link {
    margin-top: 18px;
    margin-bottom: 23px;
    font-size: 1rem;
  }
}



















@media (max-width: 959.98px) {
  .h2 {
    font-size: 1.83rem;
  }

  .container {
    max-width: 720px;
  }

  .header__logo {
    width: 88px;
    height: 84px;
  }

  .header__links {
    max-width: 482px;
  }

  .header__social {
    margin-right: 22px;
  }

  .whatsapp-icon {
    width: 16px;
    height: 16px;
  }

  .phone-icon {
    width: 14px;
    height: 14px;
  }

  .tel__number {
    font-size: 0.75rem;
    margin-left: 6px;
  }

  .nav__menu {
    margin-top: 8px;
  }

  .submenu__link {
    font-size: 0.6rem;
  }

  .first-section__container {
    max-width: 720px;
    margin-top: 71px;
  }

  .left-content {
    margin-bottom: 38px;
  }

  .h1 {
    font-size: 1.4475rem;
    margin-bottom: 12px;
  }

  .btn {
    padding: 12px 18px;
    font-size: 0.675rem;
  }

  .left-content__information {
    margin-top: 25px;
    margin-right: 75px;
  }

  .f-s__h3 {
    font-size: 1.2rem;
  }

  .big-number {
    font-size: 5rem;
  }

  .left-content__text {
    margin-right: 6px;
    margin-left: 6px;
    font-size: 0.75rem;
  }

  .right-content__text {
    font-size: 0.6rem;
  }

  .right-content__fat {
    font-weight: 700;
    font-size: 0.5625rem;
  }




















  .a-p__container {
    max-width: 720px;
  }

  .a-p__left-content {
    margin-top: 63px;
  }

  .a-p__h2 {
    margin-bottom: 37px;
  }

  .a-p__h3 {
    font-size: 0.75rem;
  }

  .a-p__menu {
    padding-left: 12px;
  }

  .a-p__company-mission-h3 {
    margin-top: 37px;
    margin-bottom: 12px;
  }

  .a-p__bottom-text {
    margin-bottom: 33px;
  }

  .text {
    font-size: 0.75rem;
  }

  .a-p__right-content {
    margin-top: 82px;
    margin-left: 35px;
  }

  .rec__34 {
    width: 221px;
    height: 209px;
  }

  .a-p__red-rec {
    width: 221px;
    height: 209px;
    margin-top: -191px;
    margin-left: 23px;
  }

  .points {
    width: 225px;
    height: 257px;
    margin-top: -225px;
    margin-left: 45px;
  }

  .a-p__purpose-h3 {
    margin-bottom: 12px;
  }

  .a-p__bg {
    font-size: 9.75rem;
    margin-top: -3px;
  }



















  .cottages__h2 {
    padding-top: 26px;
  }

  .left-arrow {
    margin-left: -60px;
  }

  .rec__6 {
    width: 427px;
    height: 259px;
    margin-left: -302px;
  }

  .cottages__points {
    width: 331px;
    height: 234px;
    margin-top: 40px;
  }

  .cottage__images {
    margin-bottom: 25px;
  }

  .cottages__arrows {
    width: 31px;
    height: 31px;
    margin-bottom: 25px;
  }

  .cottages__square {
    margin-top: 6px;
    margin-left: 8px;
    margin-bottom: 30px;
  }

  .rec__7 {
    height: 221px;
  }

  .cottages__figure-text {
    font-size: 1.22rem;
    margin-left: 42px;
    margin-bottom: 6px;
  }

  .right-arrow {
    margin-left: 44px;
  }



















  .location__container {
    max-width: 720px;
    margin-top: 54px;
  }

  .location__content {
    margin-top: 56px;
  }

  .rec__3 {
    width: 355px;
    height: 244px;
  }

  .location__red-rec {
    width: 355px;
    height: 244px;
    margin-top: 26px;
    margin-left: -329px;
  }

  .location__points {
    width: 366px;
    height: 277px;
    margin-top: 37px;
    margin-left: -323px;
  }

  .location__bg {
    font-size: 11rem;
    margin-top: -28px;
  }



















  .benefits__container {
    max-width: 720px;
  }

  .benefits__content {
    margin-top: 37px;
    gap: 31px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }

  .benefits-icons__text {
    padding-left: 9px;
  }

  .benefits__icon-2 {
    margin-left: 110px;
  }

  .benefits__icon-4 {
    margin-left: 40px;
  }

  .benefits__picture {
    width: 572px;
    height: 347px;
  }

  .benefits__icon-6 {
    margin-left: 86px;
  }

  .benefits__bg-container {
    max-width: 720px;
    margin-top: -765px;
  }

  .benefits__bg {
    max-width: 840px;
    height: 810px;
    margin-left: -78px;
  }

  .benefits__bg-symbol {
    height: 398px;
    margin-left: -78px;
  }



















  .reasons__h2 {
    margin: 61px 0;
  }

  .rec__9 {
    width: 277px;
    height: 244px;
  }

  .reasons__red-rec {
    width: 277px;
    height: 244px;
    margin-top: -226px;
    margin-left: -26px;
  }

  .reasons__points {
    width: 313px;
    height: 242px;
    margin-top: -220px;
    margin-left: -71px;
  }

  .reasons__right-content {
    margin-top: 53px;
    margin-left: 25px;
  }

  .reasons__row {
    margin-bottom: 25px;
  }

  .reasons__icon-2 {
    margin-left: 25px;
  }

  .reasons__icon-4 {
    margin-left: 55px;
  }

  .reasons__icon-text {
    margin-left: 9px;
  }

  .reasons__h3 {
    font-size: 0.75rem;
    margin-bottom: 8px;
  }

  .reasons__text {
    font-size: 0.675rem;
  }

  .reasons__bg {
    font-size: 7.5rem;
    margin-top: -440px;
    margin-left: -83px;
  }



















  .technology__h2 {
    margin-top: 92px;
    margin-bottom: 16px;
  }

  .left-image-1 {
    width: 115px;
    height: 123px;
  }

  .left-image-2 {
    width: 132px;
    height: 174px;
  }

  .left-image-3 {
    width: 197px;
    height: 88px;
  }

  .techonology__right-column {
    margin-top: 66px;
  }

  .right-image-1 {
    width: 140px;
    height: 145px;
  }

  .right-image-2 {
    width: 207px;
    height: 103px;
  }

  .right-image-3 {
    width: 207px;
    height: 103px;
  }

  .technology__h3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .technology__text {
    margin-bottom: 51px;
    font-size: 0.675rem;
  }

  .technology__bg {
    font-size: 8.85rem;
    margin-top: -1185px;
    margin-left: -26px;
  }



















  .presentation__container {
    max-width: 720px;
    border: 5px solid #842231;
  }

  .presentation__h2 {
    font-size: 1.3725rem;
    margin-top: 43px;
    margin-bottom: 8px;
  }

  .presentation__text {
    font-size: 0.75rem;
    margin-bottom: 22px;
  }

  .presentation__buttons {
    margin: 0 92px 31px;
  }

  .form-group {
    margin-top: 2px;
  }

  .form-image-user {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 12px;
  }

  .form-image-phone {
    width: 15px;
    height: 16px;
    margin-top: 17px;
    margin-left: 15px;
  }

  .form-input {
    font-size: 0.57rem;
    padding: 20px 29px 20px 35px;
    border-radius: 5px;
  }

  .presentation__button-send {
    border: 3px solid #842231;
    width: 171px;
    height: 53px;
    font-size: 0.675rem;
    border-radius: 5px;
  }



















  .payment__container {
    max-width: 409px;
  }

  .payment__h2 {
    margin-top: 60px;
    margin-bottom: 31px;
    font-size: 1.83rem;
  }

  .payment__image-1 {
    width: 76px;
    height: 44px;
  }

  .payment__image-2 {
    width: 53px;
    height: 47px;
  }

  .payment__image-3 {
    width: 42px;
    height: 42px;
  }

  .payment__image-4 {
    width: 49px;
    height: 49px;
  }

  .payment__text {
    font-size: 0.48rem;
    width: 85px;
    margin-top: 5px;
  }

  .payment__first-first-item {
    padding-left: 9px;
  }

  .payment__first-second-item {
    padding-left: 26px;
  }

  .payment__bg {
    width: 399px;
    height: 143px;
    font-size: 7.5rem;
    margin-top: -233px;
  }



















  .contacts__container {
    max-width: 720px;
    margin-top: 67px;
  }

  .contacts__image {
    width: 353px;
    height: 261px;
  }

  .contacts__information {
    margin-left: 62px;
  }

  .contacts__h2 {
    margin-bottom: 17px;
  }

  .contacts__address {
    font-size: 0.68rem;
    margin-bottom: 12px;
  }

  .contacts__list {
    margin-bottom: 2px;
  }

  .icon-link-phone {
    width: 11px;
    height: 11px;
    margin-top: 1px;
  }

  .icon-link-mail {
    width: 10px;
    height: 8px;
    margin-bottom: 1px;
  }

  .icon-link-inst {
    width: 12px;
    height: 14px;
  }

  .contacts__link {
    font-size: 0.68rem;
    margin-left: 6px;
  }

  .contacts__qr {
    width: 108px;
    height: 108px;
  }



















  .footer {
    max-width: 420px;
    margin-top: 61px;
  }

  .footer__menu {
    font-size: 0.75rem;
  }

  .final-link {
    margin-top: 14px;
    margin-bottom: 17px;
    font-size: 0.75rem;
  }
}



















@media (max-width: 719.98px) {
  .h2 {
    font-size: 1.3725rem;
  }

  .container {
    max-width: 540px;
  }

  .header__logo {
    width: 66px;
    height: 63px;
  }

  .header__links {
    max-width: 362px;
  }

  .header__social {
    margin-right: 17px;
  }

  .whatsapp-icon {
    width: 12px;
    height: 12px;
  }

  .phone-icon {
    width: 11px;
    height: 11px;
  }

  .tel__number {
    font-size: 0.5625rem;
    margin-left: 5px;
  }

  .nav__menu {
    margin-top: 6px;
  }

  .submenu__link {
    font-size: 0.45rem;
  }

  .first-section__container {
    max-width: 540px;
    margin-top: 53px;
  }

  .left-content {
    margin-bottom: 29px;
  }

  .h1 {
    font-size: 1.0856rem;
    margin-bottom: 9px;
  }

  .btn {
    padding: 9px 14px;
    font-size: 0.5rem;
  }

  .left-content__information {
    margin-top: 19px;
    margin-right: 53px;
  }

  .f-s__h3 {
    font-size: 0.9rem;
  }

  .big-number {
    font-size: 3.75rem;
  }

  .left-content__text {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 0.5625rem;
  }

  .right-content__text {
    font-size: 0.45rem;
  }

  .right-content__fat {
    font-weight: 700;
    font-size: 0.42rem;
  }



















  .a-p__container {
    max-width: 540px;
  }

  .a-p__left-content {
    margin-top: 47px;
  }

  .a-p__h2 {
    margin-bottom: 28px;
  }

  .a-p__h3 {
    font-size: 0.5625rem;
  }

  .a-p__menu {
    padding-left: 9px;
  }

  .a-p__company-mission-h3 {
    margin-top: 28px;
    margin-bottom: 9px;
  }

  .a-p__bottom-text {
    margin-bottom: 27px;
  }

  .text {
    font-size: 0.5625rem;
  }

  .a-p__right-content {
    margin-top: 62px;
    margin-left: 26px;
  }

  .rec__34 {
    width: 166px;
    height: 157px;
  }

  .a-p__red-rec {
    width: 166px;
    height: 157px;
    margin-top: -143px;
    margin-left: 17px;
  }

  .points {
    width: 169px;
    height: 193px;
    margin-top: -169px;
    margin-left: 34px;
  }

  .a-p__purpose-h3 {
    margin-bottom: 9px;
  }

  .a-p__bg {
    font-size: 7.3rem;
    margin-top: -2px;
  }



















  .cottages__h2 {
    padding-top: 18px;
    margin-bottom: 10px;
  }

  .left-arrow {
    margin-left: -40px;
  }

  .rec__6 {
    width: 295px;
    height: 179px;
    margin-left: -209px;
  }

  .cottages__points {
    width: 229px;
    height: 162px;
    margin-top: 30px;
  }

  .cottage__images {
    margin-bottom: 15px;
  }

  .cottages__arrows {
    width: 21px;
    height: 21px;
    margin-bottom: 15px;
  }

  .cottages__square {
    margin-top: 4px;
    margin-left: 6px;
    margin-bottom: 20px;
  }

  .rec__7 {
    height: 153px;
  }

  .cottages__figure-text {
    font-size: 0.84rem;
    margin-left: 29px;
    margin-bottom: 4px;
  }

  .right-arrow {
    margin-left: 30px;
  }



















  .location__container {
    max-width: 540px;
    margin-top: 41px;
  }

  .location__content {
    margin-top: 42px;
  }

  .rec__3 {
    width: 266px;
    height: 183px;
  }

  .location__red-rec {
    width: 266px;
    height: 183px;
    margin-top: 20px;
    margin-left: -247px;
  }

  .location__points {
    width: 275px;
    height: 208px;
    margin-top: 28px;
    margin-left: -242px;
  }

  .location__bg {
    font-size: 8.25rem;
    margin-top: -21px;
  }



















  .benefits__container {
    max-width: 540px;
  }

  .benefits__content {
    margin-top: 28px;
    gap: 23px;
    margin-left: 70px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .benefits-icons__text {
    padding-left: 7px;
  }

  .benefits__icon-2 {
    margin-left: 83px;
  }

  .benefits__icon-4 {
    margin-left: 30px;
  }

  .benefits__picture {
    width: 429px;
    height: 260px;
  }

  .benefits__icon-6 {
    margin-left: 65px;
  }

  .benefits__bg-container {
    max-width: 540px;
    margin-top: -574px;
  }

  .benefits__bg {
    max-width: 690px;
    height: 608px;
    margin-left: -59px;
  }

  .benefits__bg-symbol {
    height: 299px;
    margin-left: -59px;
  }



















  .reasons__h2 {
    margin: 46px 0;
  }

  .rec__9 {
    width: 208px;
    height: 183px;
  }

  .reasons__red-rec {
    width: 208px;
    height: 183px;
    margin-top: -170px;
    margin-left: -20px;
  }

  .reasons__points {
    width: 235px;
    height: 182px;
    margin-top: -165px;
    margin-left: -53px;
  }

  .reasons__right-content {
    margin-top: 40px;
    margin-left: 19px;
  }

  .reasons__row {
    margin-bottom: 19px;
  }

  .reasons__icon-2 {
    margin-left: 19px;
  }

  .reasons__icon-4 {
    margin-left: 41px;
  }

  .reasons__icon-text {
    margin-left: 7px;
  }

  .reasons__h3 {
    font-size: 0.5625rem;
    margin-bottom: 6px;
  }

  .reasons__text {
    font-size: 0.5rem;
  }

  .reasons__bg {
    font-size: 5.625rem;
    margin-top: -330px;
    margin-left: -62px;
  }



















  .technology__h2 {
    margin-top: 69px;
    margin-bottom: 12px;
  }

  .left-image-1 {
    width: 86px;
    height: 92px;
  }

  .left-image-2 {
    width: 99px;
    height: 131px;
  }

  .left-image-3 {
    width: 148px;
    height: 66px;
  }

  .techonology__right-column {
    margin-top: 50px;
  }

  .right-image-1 {
    width: 105px;
    height: 109px;
  }

  .right-image-2 {
    width: 155px;
    height: 77px;
  }

  .right-image-3 {
    width: 105px;
    height: 77px;
  }

  .technology__h3 {
    font-size: 0.5625rem;
    margin-top: 15px;
    margin-bottom: 6px;
  }

  .technology__text {
    margin-bottom: 38px;
    font-size: 0.5rem;
  }

  .technology__bg {
    font-size: 6.6375rem;
    margin-top: -895px;
    margin-left: -20px;
  }



















  .presentation__container {
    max-width: 540px;
    border: 4px solid #842231;
  }

  .presentation__h2 {
    font-size: 1.3725rem;
    margin-top: 32px;
    margin-bottom: 6px;
  }

  .presentation__text {
    font-size: 0.5625rem;
    margin-bottom: 17px;
  }

  .presentation__buttons {
    margin: 0 69px 23px;
  }

  .form-group {
    margin-top: 2px;
  }

  .form-image-user {
    width: 11px;
    height: 11px;
    margin-top: 14px;
    margin-left: 9px;
  }

  .form-image-phone {
    width: 11px;
    height: 12px;
    margin-top: 13px;
    margin-left: 11px;
  }

  .form-input {
    font-size: 0.43rem;
    padding: 15px 22px 15px 26px;
    border-radius: 4px;
  }

  .presentation__button-send {
    border: 2px solid #842231;
    width: 128px;
    height: 40px;
    font-size: 0.5rem;
    border-radius: 4px;
  }



















  .payment__container {
    max-width: 307px;
  }

  .payment__h2 {
    margin-top: 45px;
    margin-bottom: 23px;
    font-size: 1.3725rem;
  }

  .payment__image-1 {
    width: 57px;
    height: 33px;
  }

  .payment__image-2 {
    width: 40px;
    height: 35px;
  }

  .payment__image-3 {
    width: 32px;
    height: 32px;
  }

  .payment__image-4 {
    width: 37px;
    height: 37px;
  }

  .payment__text {
    font-size: 0.36rem;
    width: 64px;
    margin-top: 4px;
  }

  .payment__first-first-item {
    padding-left: 7px;
  }

  .payment__first-second-item {
    padding-left: 20px;
  }

  .payment__bg {
    width: 299px;
    height: 107px;
    font-size: 5.625rem;
    margin-top: -178px;
  }



















  .contacts__container {
    max-width: 540px;
    margin-top: 50px;
  }

  .contacts__image {
    width: 265px;
    height: 196px;
  }

  .contacts__information {
    margin-left: 47px;
  }

  .contacts__h2 {
    margin-bottom: 13px;
  }

  .contacts__address {
    font-size: 0.51rem;
    margin-bottom: 9px;
  }

  .contacts__list {
    margin-bottom: 0;
  }

  .icon-link-phone {
    width: 8px;
    height: 8px;
    margin-bottom: 1px;
  }

  .icon-link-mail {
    width: 8px;
    height: 6px;
    margin-bottom: 2px;
  }

  .icon-link-inst {
    width: 9px;
    height: 11px;
  }

  .contacts__link {
    font-size: 0.51rem;
    margin-left: 5px;
  }

  .contacts__qr {
    width: 81px;
    height: 81px;
  }



















  .footer {
    max-width: 315px;
    margin-top: 46px;
  }

  .footer__menu {
    font-size: 0.5625rem;
  }

  .final-link {
    margin-top: 11px;
    margin-bottom: 13px;
    font-size: 0.5625rem;
  }
}
