:root {
  --ui-color: #DBA069;
  --text-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.section1 {
  position: relative;
  background-image: url(/assets/Секция\ header/Фон.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  padding-left: 130px;
  margin: 0 auto;
}

.h1__text {
  margin-bottom: 141px;
}

.header__row {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 247px;
}

.header__flex {
  display: flex;
  flex-direction: column;
}

.header__socialcontacts {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 35px;
}

.header__social {
  order: 2;
}

.phone {
  align-items: center;
  order: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.row__content {
  display: flex;
  flex-direction: row;
}

.container1 {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  padding-left: 130px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 115px;
}

.tel__number {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-left: 10px;
}

.menu {
  margin-top: 16px;
}

.submenu__item {
  font-weight: 400;
  font-size: 16px;
}

.submenu__link {
  text-decoration: none;
  color: var(--text-color);
}

.h1 {
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid var(--ui-color);
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  background-color: var(--ui-color);
  cursor: pointer;
  text-decoration: none;
}

.underbutton {
  margin-top: 40px;
  margin-right: 363px;
  color: #FFFFFF;
}

.ts__cottages {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0;
}

.big__numbers {
  font-size: 128px;
  font-weight: 400
}

.content__text {
  list-style: none;
  margin-top: 23px;
  margin-left: 23px;
  padding-left: 0;
  width: 116px;
  font-weight: 400;
  font-size: 20px;
}

.hat__text {
  margin-left: 36px;
  padding-top: 22px;
  padding-right: 143px;
  color: #FFFFFF;
}

.hat__fat-text {
  font-weight: 700;
  font-size: 16px;
}



















.container2 {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  padding-left: 130px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.content__about-project {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin-top: 103px;
}

.h2__about-project {
  font-weight: 700;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 60px;
}

.subcontent__about-project {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

.subcontent__about-project3 {
  font-weight: 300;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 51px;
}

.main-submenu__a-p {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.ul__subcontent {
  margin-top: 0;
  padding-left: 20px;
  margin-bottom: 0;
}

.main-submenu__a-p2 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.project__card {
  display: flex;
  flex-direction: column;
  margin-top: 134px;
  margin-left: 58px;
}

.rec__34 {
  position: absolute;
  order: 1;
  z-index: 3;
}

.rec__35 {
  position: absolute;
  margin-top: 34px;
  margin-left: 42px;
  width: 442px;
  height: 418px;
  order: 2;
  z-index: 2;
}

.internal {
  position: absolute;
  margin-left: 79px;
  order: 3;
}

.external {
  position: absolute;
  margin-top: 110px;
  margin-left: 533px;
  order: 4;
}

.purpose {
  margin-top: 635px;
}

.main-submenu__a-p3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.bg {
  position: absolute;
  width: 1375px;
  height: 312px;
  font-weight: 700;
  font-size: 287px;
  opacity: 0.05;
  margin-top: -30px;
  z-index: 1;
}



















.section__cottages {
  background: rgba(132, 34, 49, 0.05);
}

.container3 {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  padding-left: 130px;
  margin: 0 auto;
}

.h2__cottages {
  font-weight: 700;
  font-size: 48px;
  padding-top: 39px;
  margin-top: 0;
  margin-bottom: 28px;
}

.flex__cottages {
  display: flex;
  flex-direction: row;
}

.cottage__arrow-left {
  margin-top: 182px;
}

.cottage__arrow-right {
  margin-top: 182px;
  margin-left: 70px;
}

.img__cottages {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.rec__6 {
  position: absolute;
  margin-left: 48px;
  order: 1;
}

.internal2 {
  margin-top: 66px;
  order: 2;
}

.figure__text {
  position: absolute;
  font-weight: 700;
  font-size: 32px;
  width: 90px;
  margin-top: 5px;
  margin-left: 827px;
  order: 4;
}

.rec__7 {
  margin-top: 55px;
  margin-left: 271px;
  order: 3;
  height: 359px;
}



















.container4 {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  padding-left: 130px;
  margin: 89px auto;
  display: flex;
  flex-direction: row;
}

.location__text {
  margin-top: 92px;
}

.h2__location {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
}

.ulunder__text {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  width: 480px;
}

.underh2__text {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 20px;
}

.underh2__text2 {
  font-weight: 300;
  font-size: 20px;
}

.bg__location {
  position: absolute;
  font-weight: 700;
  font-size: 287px;
  opacity: 0.05;
  width: 1839px;
  height: 275px;
  margin-top: -45px;
}

.location__images {
  display: flex;
  flex-direction: row;
  margin-left: 119px;
}

.rec__3 {
  position: absolute;
  order: 1;
  width: 581px;
  height: 400px;
  z-index: 2;
}

.rec__33 {
  position: absolute;
  order: 2;
  width: 581px;
  height: 400px;
  margin-top: 42px;
  margin-left: 42px;
  z-index: 1;
}

.group__18 {
  order: 3;
  margin-top: 60px;
  margin-left: 90px;
}



















.container5 {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  padding-left: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  background: #F9F4F4;
  z-index: 2;
}

.icons__text {
  font-weight: 300;
  font-size: 20px;
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
}

.block1 {
  margin-left: 150px;
  padding-top: 60px;
  gap: 40px;
  width: 832px;
}

.h2__benefits1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0;
}

.h2__benefits2 {
  font-weight: 700;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 40px;
}

.row__icons1 {
  display: flex;
  flex-direction: row;
}

.icon2 {
  margin-left: 200px;
}

.row__icons2 {
  display: flex;
  flex-direction: row;
  height: 66px;
  margin-top: 40px;
}

.icons__text2 {
  font-weight: 300;
  font-size: 20px;
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
  width: 550px;
}

.left__icon {
  width: 56px;
  height: 56px;
}

.icon4 {
  margin-left: -165px;
  width: 56px;
  height: 56px;
}

.benefit__picture {
  margin-top: 33px;
  margin-left: 110px;
}

.row__icons3 {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}

.icons__text3 {
  font-weight: 300;
  font-size: 20px;
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
  width: 300px;
}

.icon6 {
  width: 56px;
  height: 56px;
  margin-left: 150px;
}

.row__icon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.icon7 {
  width: 56px;
  height: 56px;
  margin-left: 150px;
}

